.parallaxcontainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(https://images.unsplash.com/photo-1530608031805-8e170c1b793a?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
  position: relative;

  font-family: 'Ubuntu', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CSS */

section,
.placeholder {
  position: relative; /* crucial for z-index to work */
}

section {
  z-index: 10;
}

.placeholder {
  z-index: 1;
  height: 177px; /* same as footer height */
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 177px;
  background-color: #222;
  border-top: 1px solid #444;
}
