.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(/assets/wecreate-background.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
  position: relative;
}

.content h1 {
  font-family: 'Kurale', serif;
  letter-spacing: 20px;
  text-shadow: 2px 4px 5px #222;
}
.content p,
.content button {
  font-family: 'Thasadith', sans-serif;
}
.content p {
  letter-spacing: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section,
.placeholder {
  position: relative; /* crucial for z-index to work */
}

section {
  z-index: 10;
}

.placeholder {
  z-index: 1;
  height: 177px; /* same as footer height */
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 177px;
  background-color: #222;
  border-top: 1px solid #444;
}
